* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: white;
    
}

.login {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    margin-top: 40px;
}
.container {
    background-color: rgb(243, 251, 255);
    color: black;
    display: grid;
    align-items: center;
    justify-content: center;
    width: 25%;
    padding: 10px;
    height: 100%;
    border-radius: 20px;
    

}

.container img {
    width: 160px;
    display: grid;
    justify-content: center;
    background: transparent;
    align-items: center;
    padding-left: 70px;

}
.container label{
    margin-left: 10px;
    font-size: large;
    margin-bottom: 0px;
    margin-top: 10px;
    align-items: center;
}

.container input {
    height: 30px;
    width: 300px;
    padding-left: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.container button {
    height: 33px;
    font-size: larger;
    width: 310px;
    margin-left: 5px;
    background-color: rgb(96, 96, 248);
    margin-top: 10px;
    border-radius: 10px;

}

.container .check{
    width: 20px;
    display: flex;
    align-items: center;
    margin-top: 6px;
    margin-right: -40px;
}
.container p{
    display: flex;
    align-items: center;
    font-size: large;
    justify-content: space-between;
  
}
.or{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;

}

.container .google {
display: flex;
justify-content: center;
background-color: rgb(252, 253, 253);
font-size: larger;
align-items: center;
border: 2px solid black;
padding-right: 20px;
border-radius: 20px;
height: 40px;
margin-bottom: 15px;
}

.container .google img{
    width: 30px;
    padding-top:5px;
    padding-right: 5px;
    border-radius: 20px 20px;  
}
.container .facebook {
display: flex;
justify-content: center;
background-color: rgb(252, 253, 253);
font-size: larger;
border: 2px solid black;
align-items: center;
border-radius: 20px;
height: 40px;
margin-bottom: 20px;

}

.container .facebook img{
    width: 30px;
    padding-top:5px;
    padding-right: 5px;
    border-radius: 20px 20px;  
}
.container a{
    color: blue;
    
}

